.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5vw;
}

.perfil_jogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perfil_jogo img {
    width: 90%; 
    height: auto;
}

.titulo_jogo {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1vw;
}

.titulo_jogo h1 {
    color: #fff;
    font-size: 2.8vw;
    padding-left: 1.5vw;
}

.titulo_jogo img {
    width: 25%;
    margin-top: -12vw;
}

.container_descricao,
.container_requisitos {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2vw;
    border-radius: 1.3vw;
    width: 86%;
    margin: 2vw auto;
}

h2{
    color: #fff;
}

.img_desc {
    display: flex;
    justify-content: center;
}

.img_desc img {
    margin-top: -2vw;
    width: 70%;
}

.container_descricao h1 {
    font-size: 2.4vw;
    color: #fff;
}

.titulo_desc {
    width: 100%;
    margin-top: -2vw;
}

.container_descricao p {
    font-size: 1.4vw;
    color: #fff;
    line-height: 1.8;
    width: 100%;
}

.imagem_requisitos {
    display: flex;
    justify-content: center;
}

.imagem_requisitos img {
    margin-top: -1vw;
    width: 40%;
}

.requisitos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    color: #fff;
    width: 100%;
    margin: 0 auto;
    gap: 2vw;
}

.requisitos h2 {
    font-size: 1.8vw;
    margin-bottom: 10px;
}

.requisitos ul {
    list-style: none;
    margin-bottom: 2vw;
    padding: 0;
}

.requisitos li {
    font-size: 1.2vw;
    color: #e5e5e5;
    padding-top: 0.5vw;
    line-height: 1.6;
}

.config {
    flex: 1;
    padding: 1vw;
}

.config:not(:last-child) {
    border-right: 1px solid #444;
}

.container_avaliacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vw;
}

.link {
    display: flex;
    align-items: center;
    gap: 0.1rem;
}

.link a {
    display: inline-block; 
}

.link img {
    width: 80%;
}

.plataforma {
    margin-top: 1vw; 
    display: flex;
    justify-content: center; 
}

.plataforma img {
    width: 80%;
}

